@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 41, 37, 36;
  --background-start-rgb: 250, 250, 249;
  --background-end-rgb: 232, 221, 212;
}

.dark {
  --foreground-rgb: 250, 250, 249;
  --background-start-rgb: 26, 26, 26;
  --background-end-rgb: 26, 26, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
